body {
    background-color: #ecece7;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    height: auto;
    width: 80px;
    margin: 40px;
    animation-name: medama;
    animation-duration: 2s;
}

@keyframes medama {
    0% {
        width: 0;
    }

    70% {
        width: 120px;
    }
}


.header-right ul {
    display: flex;
}

li {
    margin-right: 40px;
    font-size: 1.4vw;
    color: #a28d69;
    /* opacity: 100; */
    animation-name: fadein;
    animation-duration: 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.first {
    animation-duration: 2s;
}

.second {
    animation-duration: 4s;
}

/* セクション１ */
.kv {
    background-image: url(./images/main.jpg);
    background-position: center;
    height: 80vh;
    position: relative;
    background-size: cover;
}
@keyframes opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.name {
    font-size: 4vw;
    position: absolute;
    top: 150px;
    left: 150px;
    font-weight: bold;
}

.name {
    width: 15ch;
    animation: typing 1.5s steps(15)2s, effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 0.5vh solid; */
  }
   
 
  @keyframes typing {
    from {
      width: 0;
      opacity: 0;
    }
    to{
        opacity: 100;
    }
  }
      
  @keyframes effect {
    50% {
      border-color: transparent
    }
  }
h4{
    font-size: 50px;
    text-align: center;
    opacity: 0;
    animation-name: opa;
    animation-duration: 0.5s;
    animation-delay: 1s;
}
@keyframes opa {
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
    }
}

/* セクション２ */
.profile2 {
    display: flex;
    justify-content: space-around;
}

#profile img {
    width: 30vw;
    margin-top: 20px;
}

h2 {
    margin: 100px;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}

p {
    margin-top: 30px;
    font-size: 1vw;
}

/* セクション3 */
.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video img {
    width: 30vh;
    margin-bottom: 100px;
}

/* セクション３ */
.parsonal {
    display: flex;
    justify-content: space-around;
}

.parsonal img {
    width: 50vh;
    max-width: 25vw;
}

footer {
    background-color: #a28d69;
    padding: 10px 20px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 30px;
    margin-left: 20px;
}

/* モバイルファースト */
@media screen and (max-width: 780px) {

    .header-left {

        margin: 5%;
        width: 10vw;
    }

    .kv {
        max-height: 500px;
    }

    .video img {
        width: 20vw;
    }
}

@media screen and (max-width: 375px) {

    li {
        margin-right: 15px;
    }

    .kv {
        max-height: 300px;
    }

    .name {
        top: 100px;
        left: 55px;
    }

    h2 {
        margin: 55px;
        border: solid;
        padding: 10px;
    }

    #profile img {
        margin-top: 0;
    }

    .profile2 {
        display: block;
        text-align: center;
    }

    .video img {
        margin-bottom: 0;
    }

    h3 {
        font-size: 10px;
    }

    footer img {
        width: 20px;
    }
}